#references{
    height: 90vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;

    background-color: var(--color-black);
}

.bibliography {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.reference{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.reference a:hover{
    background-color: #6100FF;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.5s 0s ease;
}

.reference p{
    color: var(--color-white);
    width: 50%;
    transform: translateX(50%);
    text-align: center;
}

.reference p::after{
    content: "";
    padding-left: 10px;
}

.reference a{
    color: var(--color-white);
    text-decoration: none;
}

.reference a::before{
    content: "";
    padding-left: 10px;
}
